- @page_class << "edit"
- @title = "editing: #{@page.short_name}"
%form#edit{:method => 'POST', :action => "/#{@page}"}
  #editor
    #preview
    %textarea{:name => 'body'}= @page.content

  #controls
    %a.cancel{:href=>"/#{@page}"} cancel
    %input.save{:type => :submit, :value => "Save", :disabled => true}
