- @title = "All Pages"
- if @pages.empty?
  %p No pages found.
- else
  %ul#list
    - @pages.each do |page|
      %li
        %a.page{:href => "/#{page}"}= page.name
        %small
          (
          %a.page{:href => "/#{page}?edit=1"} edit
          /%a.page{:href => "/#{page}?delete=1"} delete
          )